<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <header></header>
    <div id="root" class="container">
    </div>
  </body><link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <script type="text/javascript" src="/assets/js/bundle.js"></script>
</html>
