%div
  %p
    Welcome to the Docunext wiki, with a general focus towards open source
    software.
  %p
    It is highly disorganized, but attempts to be as comprehensive as possible
    in reflecting the use, exploration, and tinkering of a few individuals.

  %ul
    - current_page.children.each do |sibling|
      %li= link_to(sibling.title, sibling.url) 
